
* {
    margin: 0;
}

.container {
    width: 100%;
}

.text-center {
    font-size: 20px;
    font-weight: bold;
}

.col-xs-12 {
    background-color: gray;
    /*margin-left: 20px;
    margin-right: 20px; */
    height: 500px;
}

/*
@media (min-width) {
    .col-xs-12 {

    }

}
*/
